<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
        <div class="sidebar-heading"><br><img id="logo" src="../../../assets/projet interface11.png" width="350px"></div>
        <div class="list-group list-group-flush">
            <a href="administrateur" class="list-group-item list-group-item-action bg-light" id="input" ><br>
                <i class="uil-home-alt" ></i> <span> page d'accueil  </span>
            </a>
            <a href="agences" class="list-group-item list-group-item-action bg-light" id="input"> 
                <i class="pi pi-table"></i>
                <span> Gérer les agences</span>
            </a>
            <a href="clients" class="list-group-item list-group-item-action bg-light" id="input">
                <i class="pi pi-users"></i>
                <span> Gérer les clients </span>
            </a>
            <a href="user" class="list-group-item list-group-item-action bg-light" id="input">
                <i class="pi pi-users"></i>
                <span> Gérer les utilisateurs </span>
            </a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
           
          
            <div class="container-fluid">
                <button class="button-menu-mobile open-left" id="input" (click)="clickEvent()">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <li style="list-style-type: none;" class="dropdown notification-list">
                <a data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-position">{{ prenom }} {{nom}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item" >
                        <i class="mdi mdi-account-edit me-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="Deconnexion()">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>

        </nav>

        <div class="container-fluid"><br>
            
             <!-- start page title -->
             <br><br>
             <div class="row">
                 <h3 class="card-title">Liste des agences</h3><br><br>

                 <div class="col-12">
                   <div class="card">
                     <div class="card-body">
                       <div class="table-responsive">
                         <table class="table align-middle text-nowrap" *ngIf="liste && liste.length > 0">
                             <thead>
                                 <tr>
                                     <th class="text-dark font-medium fs-4">code Agence</th>
                                     <th class="text-dark font-medium fs-4">nom Agence</th>
                                     <th class="text-dark font-medium fs-4">adresse</th>
                                     <th class="text-dark font-medium fs-4">telephone</th>
                                     <th class="text-dark font-medium fs-4"></th>
                                     <th class="text-dark font-medium fs-4"></th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr *ngFor="let agence of liste">
                                     <td class="fs-4"><b>{{ agence.codeAgence }}</b></td>
                                     <td class="fs-4">{{ agence.nomAgence }}</td>
                                     <td class="fs-4">{{ agence.adresse }}</td>
                                     <td class="fs-4">{{ agence.telephone }}</td>
                                     <td class="fs-4">
                                        <button class="btn btn-primary btn-sm" (click)="Modifier(agence)">Modifer</button>
                                     </td>
                                     <td class="fs-4">
                                        <button class="btn btn-primary btn-sm" (click)="SupprimerAgence(agence)" >Supprimer</button>
                                     </td>
                                 </tr>              
                             </tbody>
                         </table>
                         <button class="btn btn-primary btn-sm" (click)="ajouter()"  >Ajouter</button>
                     </div>
                     </div>
                   </div>
                 
             </div>
         <!-- end page title -->



     </div>
  