<div class="d-flex" id="wrapper">

<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
  <div class="sidebar-heading"><br><img id="logo" src="../../../assets/projet interface11.png" width="350px"></div>
  <div class="list-group list-group-flush">
      <a href="agence" class="list-group-item list-group-item-action bg-light" id="input" ><br>
          <i class="uil-home-alt" ></i> <span> page d'accueil  </span>
      </a>
      <a href="cheque" class="list-group-item list-group-item-action bg-light" id="input"> 
          <i class="pi pi-pencil"></i>
          <span> Saisie Chéque </span>
      </a>
      <a href="suivie" class="list-group-item list-group-item-action bg-light" id="input">
          <i class="pi pi-server"></i>
          <span> Suivie des Chéques </span>
      </a>
      <a href="recherche" class="list-group-item list-group-item-action bg-light" id="input">
          <i class="pi pi-search"></i>
          <span> Recherche Opération </span>
      </a>
      <a href="fin" class="list-group-item list-group-item-action bg-light" id="input">
          <i class="pi pi-clock"></i>
          <span> Fin Journée </span>
      </a>
  </div>
</div>
<!-- /#sidebar-wrapper -->


    <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
       
      
        <div class="container-fluid">
            <button class="button-menu-mobile open-left" id="input" (click)="clickEvent()">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
            <li style="list-style-type: none;" class="dropdown notification-list">
                <a data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-position"> {{ prenom }} {{nom}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                   


                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="Deconnexion()">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>

        </nav><br><br>
        <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <div class="chart-wrapper">
                      <canvas #myChartCanvas></canvas>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <div class="chart-wrapper">
                      <canvas #myOtherChartCanvas></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <table class="table align-middle mb-0 bg-white">
                        <!-- ...table content... -->
                   
                  
                <thead class="bg-light">
                  <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Position</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                            alt=""
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">John Doe</p>
                          <p class="text-muted mb-0">john.doe@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Software engineer</p>
                      <p class="text-muted mb-0">IT department</p>
                    </td>
                    <td>
                      <span class="badge badge-success rounded-pill d-inline">Active</span>
                    </td>
                    <td>Senior</td>
                 
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Alex Ray</p>
                          <p class="text-muted mb-0">alex.ray@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Consultant</p>
                      <p class="text-muted mb-0">Finance</p>
                    </td>
                    <td>
                      <span class="badge badge-primary rounded-pill d-inline"
                            >Onboarding</span
                        >
                    </td>
                    <td>Junior</td>
                   
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Kate Hunington</p>
                          <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Designer</p>
                      <p class="text-muted mb-0">UI/UX</p>
                    </td>
                    <td>
                      <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                    </td>
                    <td>Senior</td>
                   
                  </tr>
                </tbody>   </table>
                 
                </div>
                <div class="col-lg-6"> <div class="card">
                    <div class="card-body">
                      <div class="chart-wrapper">
                        <canvas #myThirdChartCanvas></canvas>
                      </div>
                    </div>
                  </div>
              
        </div>
      </div>
          
          
          
          
          

        
         <!-- end page title -->



 
  