<div class="d-flex" id="wrapper">

   <!-- Sidebar -->
   <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading"><br><img id="logo" src="../../../assets/projet interface11.png" width="350px"></div>
    <div class="list-group list-group-flush">
        <a href="agence" class="list-group-item list-group-item-action bg-light" id="input" ><br>
            <i class="uil-home-alt" ></i> <span> page d'accueil  </span>
        </a>
        <a href="cheque" class="list-group-item list-group-item-action bg-light" id="input"> 
            <i class="pi pi-pencil"></i>
            <span> Saisie Chéque </span>
        </a>
        <a href="suivie" class="list-group-item list-group-item-action bg-light" id="input">
            <i class="pi pi-server"></i>
            <span> Suivie des Chéques </span>
        </a>
        <a href="recherche" class="list-group-item list-group-item-action bg-light" id="input">
            <i class="pi pi-search"></i>
            <span> Recherche Opération </span>
        </a>
        <a href="fin" class="list-group-item list-group-item-action bg-light" id="input">
            <i class="pi pi-clock"></i>
            <span> Fin Journée </span>
        </a>
    </div>
</div>
<!-- /#sidebar-wrapper -->


    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
           
          
            <div class="container-fluid">
                <button class="button-menu-mobile open-left" id="input" (click)="clickEvent()">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <li style="list-style-type: none;" class="dropdown notification-list">
                <a data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-position"> {{ prenom }} {{nom}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-edit me-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="Deconnexion()">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>

        </nav>

        <div class="container-fluid"><br>
            
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                        
                        <div class="row">
                            <h1 style="text-align: center;">Status de traitement</h1>
                            <div class="paragraphe">
                              <h4>Numéro bordereau:</h4>
                              <p>{{ checkInfo.bordereau.numBordereau}}</p>
                              <h4>Date bordereau:</h4>
                              <p>{{ checkInfo.bordereau.dateBordereau}}</p>
                              <h4>Numéro compte:</h4>
                              <p></p>
                              <h4>Nom client:</h4>
                              <p></p>
                              <h4>Code agence:</h4>
                              <p></p>
                              <h4>Nom agence:</h4>
                              <p></p>
                              <h4>Date ouverture:</h4>
                              <p>{{ checkInfo.dateSaisie }}</p>
                              <h4>Devise:</h4>
                              <p>{{ checkInfo.devise}}</p>
                              <h4>Montant:</h4>
                              <p>{{ checkInfo.montant}}</p>
                              <h4>Etat:</h4>
                              <p>{{ checkInfo.statut }}</p>
                              <h4>Date sortie:</h4>
                              <p>{{ checkInfo.dateSortie }}</p>
                            </div>                         
                               <div class="text-center"><br><br>
                            <button id="printPage" (click)="printPage()">Print Page</button>
                          </div>
                    </div>
                    </div>
                  </div>

         </div>
         <!-- end page title -->



     </div>
  